body{
    background-color: rgb(13, 13, 48);
    color: rgb(0, 0, 0);
}
.card{
    background-color: rgb(255, 254, 254);
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 20px;
}
.card label{
    text-align: left;
}
button:h{
    margin: 2px;
    
}