*{
    margin: 0;
}

.card{
   box-shadow: 0 1px 4px 0 rgb(255, 255, 255);
   background-color: rgb(23, 22, 75);
   overflow: hidden;
   max-width: 300px;
   margin: auto;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
   color: white;
}
